:root{
    --color1: #07f9a2 ;
    --color2 : #09c184 ;
    --color3 : #0a8967 ;
    --color4 : #0c5149 ;
    --color5 : #0d192b ;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: var(--color5);
    align-items: center;
    color: var(--color4);
}

h1{
    font-size: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.containerTitulos{
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 10%;
}

main{
    display: flex;
    width: 90%;
    height: 80%;
    
}

h2{
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--color2);
}

.tituloLista{
    position: relative;
    right: 15%;
    color: var(--color2);
}

#formulario{
    width: 50%;
    height: 5%;
    display: flex;
    justify-content: center;
}

.div_compras{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    color: var(--color1);
}

.btn-Eliminar{
    background-color: #09c184;
    border: none;
    margin-left: 1rem;
}

.btn-Eliminar:hover{
    background-color: #0a8967;
}